<mat-card>
  <mat-card-header>
    <mat-card-title [routerLink]="['/blog', model().id]">
      {{ model().title }}
    </mat-card-title>
    <mat-card-subtitle>
      {{ model().author }}
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    {{ model().contentPreview }}
  </mat-card-content>

  @if (model().headerImageUrl) {
    <mat-card-content>
      <img [src]="model().headerImageUrl" [alt]="model().title" />
    </mat-card-content>
  }

  <mat-card-actions>
    <button mat-icon-button (click)="onLike()">
      @if (model().likedByMe) {
        <mat-icon>favorite</mat-icon>
      } @else {
        <mat-icon>favorite_border</mat-icon>
      }
    </button>

    <span>{{ model().likes }}</span>
  </mat-card-actions>
</mat-card>
