@use '../../../styles/variables' as vars;
@use '../../../styles/mixins' as mixins;

.about-card {
  max-width: 760px;
  border-radius: vars.$radius-lg;
  @include mixins.soft-shadow;

  mat-card-content {
    padding-top: vars.$spacing-md;
    line-height: 1.7;
  }
}
