@use '../../../styles/variables' as vars;
@use '../../../styles/mixins' as mixins;

.not-found-page {
  @include mixins.flex-center;
  min-height: 50vh;
  flex-direction: column;
  gap: vars.$spacing-md;
  text-align: center;

  h1 {
    margin: 0;
    font-size: 6rem;
    color: var(--mat-sys-primary);
  }
}
