<mat-card>
  @if (model().headerImageUrl) {
    <img mat-card-image [src]="model().headerImageUrl" [alt]="model().title" />
  }

  <mat-card-header>
    <mat-card-title>
      {{ model().title }}
    </mat-card-title>

    <mat-card-subtitle>
      {{ model().author }}
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>
      {{ model().contentPreview }}
    </p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-icon-button (click)="onLikeClick($event)">
      <mat-icon [class.liked]="model().likedByMe">
        @if (model().likedByMe) {
          favorite
        } @else {
          favorite_border
        }
      </mat-icon>
    </button>

    <span>{{ model().likes }}</span>

    <span class="spacer"></span>

    <button
      mat-button
      color="primary"
      [routerLink]="['/blog', model().id]"
      (click)="$event.stopPropagation()"
    >
      Blog Detail
    </button>
  </mat-card-actions>
</mat-card>
