@use '@angular/material' as mat;

// ── Light theme (azure primary) ──
$light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
  )
);

// ── Apply light theme as default on <html> ──
html {
  @include mat.all-component-themes($light-theme);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
